@import "../../index.scss";

%tag {
  display: inline-block;
  padding: 3px;
  border-radius: 2px;
  font-size: 1rem;
  font-family: $font-open-sans;
}

.tag--gray {
  @extend %tag;
  color: $color-white;
  background-color: $color-mid-gray-2;
}

.tag--gold {
  @extend %tag;
  color: $color-dark-gray;
  font-weight: 600;
  background-color: $color-pale-gold;
}

.tag--red {
  @extend %tag;
  color: $color-white;
  font-weight: 600;
  background-color: $color-red;
}
