@import "../../index.scss";

.info {
  grid-row: info-start / info-end;

  display: flex;
  flex-direction: column;

  margin: 2.5rem 15rem 0 15rem;

  & > *:nth-child(3) {
    display: flex;
    justify-content: space-between;
    column-gap: 8.75rem;

    & > * {
      flex: 1;
    }
  }

  &__content {
    display: block;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  .button-more {
    display: inline-block;
  }

  &__footer {
    width: 100%;
    margin-top: 7rem;
    display: grid;
    justify-content: end;

    @include respond(xxxl) {
      margin-top: 3.5rem;
    }
  }
}
