@import "../../index.scss";

.icon-button--search {
  padding: 0.5rem;
  background-color: $color-white;
  border: 1px $color-cerulean-blue solid;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mr-sm {
  margin-right: 0.75%;
}

.search-svg {
  fill: $color-cerulean-blue;
}
