@import "../../index.scss";

.button-search {
  padding: 0.5rem;
  background-color: $color-white;
  border: 1px $color-cerulean-blue solid;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mr-sm {
  margin-right: 1.5%;
}

.search-svg {
  fill: $color-cerulean-blue;
}
