@import "../../index.scss";

.button-solid {
  font-family: $font-open-sans;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-cerulean-blue;
  padding: 1.35rem 2.5rem;
  cursor: pointer;

  border: none;

  &:hover {
    background-color: $color-mid-blue;
  }

  &:active {
    background-color: $color-dark-blue;
  }

  &:disabled {
    background-color: $color-light-gray-3;
  }
}
