@import "../../index.scss";

.sections {
  grid-row: sections-start / sections-end;
  background-color: $color-light-gray-1;

  display: flex;
  align-items: center;
  justify-content: center;

  .section {
    @include respond(xxs) {
      padding: 3rem 4rem;
    }
  }
}
