@import "../../index.scss";

.navigation-menu {
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 0.75rem $color-dark-blue solid;
  height: 52rem;
  width: 100vw;

  visibility: visible;
  opacity: 100%;
  transition: opacity 0.25s ease-in, visibility 0.5s ease-out;

  display: flex;
  flex-direction: row;
}

.navigation-menu--hidden {
  visibility: hidden;
  opacity: 0;
}
