@import "../../index.scss";

.navigation-menu {
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 0.75rem $color-dark-blue solid;

  //   box-shadow: -1px 9px 18px 0px rgba(0, 0, 0, 0.75);
  &::before {
  }
  //   //   box-shadow: 0 0 5px 3px $color-mid-gray-1 inset;
  //   //   margin-bottom: 5px;
  //   z-index: 1;

  height: 52rem;
  width: 100vw;

  display: flex;
  flex-direction: row;
}
