@import "../../index.scss";

.navigation-menu {
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 0.75rem $color-dark-blue solid;
  height: 52rem;
  width: 100vw;

  display: flex;
  flex-direction: row;
}
