@import "../../index.scss";

.section-navigation {
  flex: 1;
  background-color: $color-white;
  height: 100%;
  box-shadow: inset -5px 5px 5px -5px $color-light-gray-3;
  padding: 1.35rem 6rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;

  &__heading {
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 1.75rem 0;

    @include respond(xl) {
      margin: 1.2rem 0;
    }

    @include respond(l) {
      margin: 0.5rem 0;
    }
  }

  li {
    list-style: none;
    text-align: left;
    padding: 0.35rem 0;

    &:hover {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
      font-family: $font-open-sans;
      color: $color-dark-gray;
      font-size: 1.75rem;

      @include respond(l) {
        font-size: 1.6rem;
      }
    }
  }
}
