@import "../../index.scss";

.site-navigation {
  flex-basis: 21%;
  background-color: $color-white-2;
  height: 100%;
  padding-top: 1.25rem;

  li {
    list-style: none;
    margin: 0 4.5rem;
    padding: 1.5rem 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-light-gray-2;
    }

    a {
      text-decoration: none;
      font-family: $font-open-sans;
      color: $color-dark-gray;
      font-weight: bold;
      font-size: 1.65rem;
    }
  }
}
