@import "../../index.scss";

.event-detail {
  display: flex;
  align-items: start;
  &__icon {
    padding: 0.15rem;
    fill: $color-gold;
    & > * {
      height: 1.3rem;
    }
  }

  &__text {
    font-family: $font-open-sans;
    color: $color-dark-gray;
    font-size: 1.3rem;
    line-height: 1.75rem;
  }
}
