.branding {
  height: 100%;
  width: 35%;
  margin: 0 auto 0 2%;

  display: flex;
  align-items: center;

  &__logo {
    height: 8rem;
    width: 8rem;
    margin-right: 3%;
    opacity: 100%;
    cursor: pointer;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 100%;
    }
  }

  &__name,
  &__description {
    text-align: left;
  }
}
