@import "../../index.scss";

.branding {
  height: 100%;
  width: 35%;
  margin: 0 auto 0 2%;

  display: flex;
  align-items: center;

  &__logo {
    height: 9.5rem;
    width: 9.5rem;
    margin-right: 3%;
    opacity: 100%;
    cursor: pointer;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 100%;
    }
  }

  &__name,
  &__description {
    text-align: left;
    font-size: 2rem;

    @include respond(xxxl) {
      font-size: 1.8rem;
    }

    @include respond(xxl) {
      font-size: 1.65rem;
    }

    @include respond(l) {
      font-size: 1.55rem;
    }

    @include respond(xs) {
      font-size: 1.5rem;
    }

    @include respond(xxs) {
      font-size: 1.3rem;
    }
  }
}
