@import "../../index.scss";

.page-links {
  display: flex;
  flex-direction: column;

  .page-link {
    text-decoration: none;
    color: $color-white;
    font-family: $font-open-sans;
    text-align: left;
    font-size: 1.4rem;

    &:hover {
      text-decoration: underline;
      text-decoration-color: $color-white;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
