.App {
  text-align: center;

  display: grid;
  grid-template-rows: [header-start] 7.5rem [header-end main-heading-start] 15rem [main-heading-end pages-start] 12rem [pages-end info-start] 54rem [info-end footer-start] 12rem [footer-end];
}
