/////////////////////// COLORS ///////////////////////
$color-light-blue: #3068ad;
$color-mid-blue: #225089;
$color-dark-blue: #1b3a61;

$color-white: #fff;

/////////////////////// FONTS ///////////////////////
$font-open-sans: "Open Sans", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;
$font-roboto-slab: "Roboto Slab", serif;

html {
  font-size: 62.5%; // each rem is 10px by default

  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
