/////////////////////// COLORS ///////////////////////
$color-white: #fff;
$color-white-2: #f3f6f9;

$color-light-gray-1: #e1e5ea;
$color-light-gray-2: #ccc;
$color-light-gray-3: #c3c3c3;
$color-mid-gray-1: #757575;
$color-mid-gray-2: #666;
$color-dark-gray: #333;

$color-red: #e9261d;

$color-pale-gold: #d2b859;
$color-gold: #8c6910;

$color-aqua-blue: #35b0cb;
$color-pale-blue: #415a7b;
$color-pastel-blue: #93a4bd;
$color-cerulean-blue: #0074c1;
$color-light-blue: #3068ad;
$color-mid-blue: #225089;
$color-dark-blue: #1b3a61;

/////////////////////// FONTS ///////////////////////
$font-open-sans: "Open Sans", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;
$font-roboto-slab: "Roboto Slab", serif;

html {
  font-size: 62.5%; // each rem is 10px by default

  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/////////////////////// GLOBAL CLASSES ///////////////////////
//////////// TYPOGRAPHY ////////////
h2 {
  font-family: $font-roboto-slab;
  color: $color-white;
  font-size: 2.8rem;
  line-height: 1.35;
}

h3 {
  font-family: $font-open-sans;
  font-weight: bold;
  font-size: 1.5rem;
  color: $color-dark-blue;
  text-transform: uppercase;
}

.header-7 {
  font-family: $font-roboto-slab;
  color: $color-dark-blue;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}

.subheader-7 {
  font-family: $font-roboto-condensed;
  color: $color-pale-blue;
  font-style: italic;
  font-size: 1.6rem;
}

/////////////////////// MIXINS ///////////////////////
@mixin respond($bp) {
  @if ($bp == xl) {
    @media only screen and (max-width: 84.375em) {
      // 1350px
      @content;
    }
  }
  @if ($bp == l) {
    @media only screen and (max-width: 81.875em) {
      // 1310px
      @content;
    }
  }
}
