@import "../../index.scss";

.description {
  &__text {
    font-family: $font-open-sans;
    font-size: 1.4rem;
    line-height: 1.4;
    color: $color-mid-gray-2;
    margin-bottom: 1rem;
  }
}

.date {
  font-family: $font-open-sans;
  font-size: 1.25rem;

  &__label {
    font-weight: bold;
    color: $color-mid-gray-2;
  }

  &__date {
    color: $color-mid-gray-2;
  }
}
